{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}


{% endblock %}
</style>


     
{% block jumbotron %}

<div class="jumbotron">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Try Django 1.8</h1>
		<p>Cabpool allows you to share cabs</p>
		<p>
		<a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
		</p>
		</div>
		<div class='col-sm-6'>
    <i class = "fa fa-4x fa-taxi" style = "padding:150px"></i>
		</div>

	</div>
 </div>
{% endblock %}




{% block content %}
<div class="row">

  <div class="col-sm-3 pull-right">
  	{% if not request.user.is_authenticated %}
  	<a href="{% url 'social:begin' 'facebook' %}">
        <i class="fa fa-facebook"></i> Login with Facebook
      </a>
      {% endif %}
     {% if request.user.is_authenticated %}
     	{{ request.user.email }} <br>
      {{ request.user.name }} <br>
      {{ request.user.id }}<br>
     	<a href="/logout">
     	<button type="submit" value = "lo" class="btn btn-primary" name = "logout">Log out</button>
      </a>
     {% endif %}
  	</div>

	<div class='col-sm-3'>
<p class='lead text-align-center'>Built with Django &amp; Bootstrap</p>
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Created for Starters of all kinds. </p>
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Always Open Source</p>
</div>


</div>


{% endblock %}